@charset "utf-8"

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Fira+Sans+Condensed:wght@400;700&display=swap')

$tablet-width: 720px
$phone-width: 470px
$also-phone-width: 405px

@mixin theme($bg-color, $text-color, $link-color)
  background: $bg-color
  color: $text-color
  a
    $border: 3px solid $link-color
    color: $text-color
    border-bottom: $border
    box-shadow: inset 0 -4px 0 $link-color
    text-decoration: none
    &:hover
      color: $bg-color
      border-bottom: $border
      background-color: $link-color

html,body
  height: 100%

body
  font-family: "Fira Sans", sans-serif
  font-size: 1.5rem
  margin: 0
  @media(prefers-color-scheme: light)
    @include theme(radial-gradient(50% 50% at 65% 50%, rgba(238, 174, 202, 0.64) 0%, rgba(173, 204, 240, 0.12) 100%), #000000, #7fc8f8)
  @media(prefers-color-scheme: dark)
    @include theme(radial-gradient(50% 50% at 65% 50%, #0A061C 0%, #3F3D40 100%), #f0f0f1, #ed768e)

#intro
  position: relative
  margin: 0 15%
  padding-top: 8rem
  @media (max-height: $phone-width)
    padding-top: 0
    h1
      margin-top: 1rem

h1#title
  font-family: "Fira Sans Condensed", sans-serif
  font-size: 6rem
  text-transform: uppercase
  @media (max-width: $tablet-width)
    font-size: 4rem
  @media (max-width: $phone-width)
    font-size: 3rem
  @media (max-width: $also-phone-width)
    font-size: 2.5rem

h1 ruby
  ruby-position: over
  -webkit-ruby-position: before

h1 rt
  font-size: 1rem
  font-weight: 400
  letter-spacing: 0.2em
  text-transform: none
  position: relative
  bottom: -0.8em
  opacity: 0.6
  @media (max-width: $tablet-width)
    bottom: 0
  @media (max-width: $tablet-width)
    margin: 0 10%
