@charset "utf-8";
@use "sass:map";
@use "sass:string";

$themes: (
  light: (
    bgColor: radial-gradient(50% 50% at 65% 50%, rgba(238, 174, 202, 0.64) 0%, rgba(173, 204, 240, 0.12) 100%),
    textColor: #000,
    linkColor: #7fc8f8,
  ),
  dark: (
    bgColor: radial-gradient(50% 50% at 65% 50%, #0A061C 0%, #3F3D40 100%),
    textColor: #f0f0f1,
    linkColor: #ed768e,
  ),
);

@mixin withThemes() {
  @each $theme, $colorMap in $themes {
    .theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $color in $colorMap {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function getFromTheme($key) {
  @return map-get($theme-map, $key);
}