---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sergei Sokolov">
  <main
    class="text-xl min-h-screen container mx-auto flex flex-col items-center justify-center"
  >
    <p>
      nothing to see here<p>
        <p>
          <a
            class="text-blue-600 hover:ring-2 hover:ring-blue-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-600"
            href="/">back to the index page</a>
        </p>
      </p>
    </p>
  </main></Layout
>
