---
import Layout from "../layouts/Layout.astro";
---

<Layout title="teners">
  <main>
    <header class="tmux-status-bar" aria-hidden="true">
      <div class="tmux-tab tmux-tab-active">bash:/home/teners</div>
    </header>
    <p class="term-command">
      <span aria-hidden="true">
        <span class="text-blue">/home/</span><span class="text-blue text-strong"
          >teners</span
        >
      </span>
      <br />
      <span aria-hidden="true">
        <span class="text-green text-strong">&gt;</span>
        <span class="text-cyan"
          ><a href="https://github.com/sharkdp/bat" class="bat-easter-egg"
            >bat</a
          ></span
        >
        <span class="text-pink">--plain</span>
        <span class="text-pink text-underline">about.md</span>
      </span>
      <br />
      <h1>
        <span class="text-cyan" aria-hidden="true">#</span> hi, i'm sergei
      </h1>
      <span aria-hidden="true">[sirg'ei]</span>
    </p>
    <span class="text-gray"
      >i'm a berlin-based software engineer, currently at semrush</span
    >
  </main>
  <p class="term-command">
    <span aria-hidden="true">
      <span class="text-blue">/home/</span><span class="text-blue text-strong"
        >teners</span
      >
    </span>
    <br />
    <span aria-hidden="true">
      <span class="text-green text-strong">&gt;</span>
      <span class="text-cyan"
        ><a href="https://github.com/sharkdp/bat" class="bat-easter-egg">bat</a
        ></span
      >
      <span class="text-pink">--plain</span>
      <span class="text-pink text-underline">contacts.md</span>
    </span>
    <br />
    <h2>
      <span class="text-cyan" aria-hidden="true">##</span>
      <span id="contacts-title">contacts</span>
    </h2>
    <ul class="md-list">
      <li aria-labelledby="contacts-title">
        <span class="text-cyan" aria-hidden="true">-</span>
        <a href="mailto:hi@tene.rs" class="md-link"
          ><span class="text-cyan" aria-hidden="true">[</span><span
            class="text-gray">email</span
          ><span aria-hidden="true"
            ><span class="text-cyan">]</span><span class="text-cyan">(</span
            ><span class="text-underline text-green">mailto:hi@tene.rs</span
            ><span class="text-cyan">)</span></span
          ></a
        >
      </li>
      <li>
        <span class="text-cyan" aria-hidden="true">-</span>
        <a href="https://github.com/teners" class="md-link"
          ><span class="text-cyan" aria-hidden="true">[</span><span
            class="text-gray">github</span
          ><span aria-hidden="true"
            ><span class="text-cyan">]</span><span class="text-cyan">(</span
            ><span class="text-underline text-green"
              >https://github.com/teners</span
            ><span class="text-cyan">)</span></span
          ></a
        >
      </li>
      <li>
        <span class="text-cyan" aria-hidden="true">-</span>
        <a href="https://www.linkedin.com/in/teners/" class="md-link"
          ><span class="text-cyan" aria-hidden="true">[</span><span
            class="text-gray">linkedin</span
          ><span aria-hidden="true"
            ><span class="text-cyan">]</span><span class="text-cyan">(</span
            ><span class="text-underline text-green"
              >https://www.linkedin.com/in/teners/</span
            ><span class="text-cyan">)</span></span
          ></a
        >
      </li>
    </ul>
  </p>
  <p aria-hidden="true" class="term-command">
    <span class="text-blue">/home/</span><span class="text-blue text-strong"
      >teners</span
    >
    <br />
    <span class="text-green text-strong">&gt;</span>
  </p>
</Layout>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  :root {
    --font-name: "JetBrains Mono";
    --bg-color: #1a1b26;
    --text-color: #e9e9ed;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-name), monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .tmux-status-bar {
    width: 100%;
    margin: 0;
    background-color: #16161e;
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .tmux-tab {
    width: fit-content;
    background-color: #323449;
    counter-increment: tabs-counter;
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .tmux-tab::before {
    content: counter(tabs-counter);
    background-color: #7847bd;
    padding: 0 6px 0 3px;
    color: var(--text-color);
  }

  .tmux-tab-active {
    background-color: #bb9af7;
    color: #16161e;
    font-weight: 600;
  }

  .term-command {
    padding-top: 5px;
  }

  h1,
  h2 {
    font-size: inherit;
    font-weight: 400;
  }

  .md-link {
    color: var(--text-color);
    text-decoration: none;
  }

  .md-list li::marker {
    content: "";
  }

  .md-link:hover {
    cursor: pointer;
    box-shadow:
      0px 0px 0px 0px,
      0px 0px 0px 2px,
      0px 0px 0px 0px;
  }

  .text-strong {
    font-weight: 600;
  }

  .text-underline {
    text-decoration: underline;
  }

  .text-gray {
    color: #c7c7d1;
  }

  .text-blue {
    color: #2e7de9;
  }

  .text-green {
    color: #9ece6a;
  }

  .text-cyan {
    color: #7dcfff;
  }

  .text-pink {
    color: #bb9af7;
  }

  .bat-easter-egg {
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border: none;
    font-family: inherit;
  }

  .bat-easter-egg:hover {
    cursor: pointer;
  }

  .bat-easter-egg:hover::after {
    content: "🦇";
  }
</style>
