---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="before:content-['- ']">
  <a
    class="lowercase hover:ring-2 hover:ring-white focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white"
    href={href}
    target="noreferrer noopener"
    aria-label={`${title}, opens in new tab`}>[{title}]({href})</a
  >
</li>
