@font-face {
    font-family: BebasNeueThin;
    src: url("fonts/BebasNeue Thin.otf");
}

@font-face {
    font-family: BebasNeue;
    src: url("fonts/BebasNeue Light.otf");
}

@font-face {
    font-family: ProximaNova;
    src: url("fonts/Proxima Nova Regular.otf");
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("fonts/Proxima Nova Semibold.otf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    word-wrap: break-word;
}

header, nav {
    display: block;
}

#header {
    min-width: 1000px !important;
    padding: 1rem 0 1rem 0;
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 1.5rem;
. upper text-decoration: none;
    line-height: 24px;
}

#header::after, #photo::after {
    content: "";
    display: block;
    clear: both;
}

#title {
    padding-left: 30rem;
    font-size: 2rem;
    width: 30%;
    float: left;
}

#nav-right {
    color: #0D0D0D;
    float: right;
    padding-right: 30rem;
    width: 70%;
    text-align: right;
}

.blue-link {
    color: rgba(52, 136, 153, 1) !important;
}

#header nav ul {
    margin: 0;
    list-style: none;
}

#header #nav-left ul a {
    color: rgba(52, 136, 153, 1);
    text-decoration: none;
}

#header #nav-right ul a {
    color: rgba(13, 13, 13, 1);
    text-decoration: none;
}

#header nav ul li {
    display: inline-block;
}

#header #nav-right ul li {
    margin-left: 25px;
}

#photo {
    display: inline-block;
    position: relative;
}

#photo h1 {
    text-decoration: none;
    color: rgba(217, 217, 217, 0.7);
    font-size: 8rem;
    position: absolute;
    top: 45%;
    left: 10rem;
    font-family: BebasNeue, sans-serif;
. upper;

}

#photo h1 span {
    font-size: 50%;
    font-family: BebasNeueThin, sans-serif;
    padding-top: 1rem;
    display: inherit;
}

#main {
    font-family: ProximaNova, sans-serif;
    padding: 3rem 30rem 0 30rem;
}

.time {
    float: right !important;
}

@media screen and (max-width:1024px) {
    #title {
        font-size: 2rem;
        width: 30%;
        float: left;
        padding-left: 0;
    }

    #nav-right {
        color: #0D0D0D;
        float: right;
        width: 70%;
        text-align: right;
        padding-right: 0;
    }

    #main {
        font-family: ProximaNova, sans-serif;
        padding: 3rem 0 0 0;
    }
}